.main{
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 50px;
}
.hero{
    width: 100%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #3333A3;
    background: linear-gradient(180deg, #3333A3 10%, #121212 80%);
    gap: 32px;
    img{
        width: 82px;
    }
    h1{
        font-size: 39px;
        line-height: 49px;
        color: #fff;
    }
    &_cards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    &_card{
        max-width: 27vw;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        gap: 20px;
    }
}

.mix{
    padding: 0 41px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    &_top{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        h2{
            font-size: 30px;
            line-height: 37px;
            color: #fff;
            letter-spacing: -3%;
        }
        span{
            font-size: 16px;
            line-height: 20px;
            color: #ADADAD;
            letter-spacing: 8%;
            cursor: pointer;
        }
    }
    .cards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 28px;
        .card{
            padding: 20px;
            display: flex;
            max-width: 216px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 8px;
            background-color: #ffffff0d;
            transition: all 0.3s;
            gap: 8px;
            &:hover{
                background-color: #ffffff23;
            }
            img{
                width: 100%;
                // height: 182px;
            }
            h3{
                color: #fff;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 3%;
            }
            p{
                color: #7d7d7d;
                font-size: 18px;
                line-height: 23px;
                height: 52px;
            }
        }
    }
}