td{
    font-size: 14px;
}
.liked{
    display: none;
    color: #63CF6C;
    width: 24px;
    height: 24px;
}
.dislike{
    width: 24px;
    height: 24px;
}
.table_lek{
    display: none;
    &:checked ~ label > .dislike{
        display: none;
    }
    &:checked ~ label > .liked{
        display: block;
    }
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio{
    width: 280px;
}